body{
    background-color: #F2F2F2;
}

img{
    width: 300px;
    height: 300px;
    display: flex;
}

div{
    margin: 10px;
}

main{
    flex-wrap: wrap;
    justify-content: space-around;
}

h2{
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin: 10px;

}

h1{
    text-align: center;
    background-color: azure;
    font-size: 50px;
    font-family: fantasy;
}

.carrete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:  #F2F2F2;
}

img{
    border: solid black;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

button{
    background-color: greenyellow;
}



a{
    text-decoration: none;
}