body{
    background-color: azure;
    text-align: center;
    border: solid red;

}

div{
    border: solid red;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 70px;
    margin-left: 70px;
}